/*
  Project: Wara Garri
  Author: Trap Introvert
  github: https://github.com/Trapintrovert

 */

 /* HOME PAGE STYLE */

@media (min-width:320px) {
  .hero-content{
    padding-top: 10%;
  }

  #about .img-second {
    height: 200px;
    width: 100%;
    border-radius: 10px;
  }
  .value{
    background-image: url("images/value.png");
    height: 647px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .value-overlay{
    background: rgba(4, 51, 146, 0.4);
    content: '';
    display: block;
    height: 647px;
  }
  #s-card .card{
    width: 290px;
    margin-left: 14px;
  }
  .quote{
    background-image: url("images/quote.png");
    height: 79px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  #quote .quote-img{
    width: 28px;
    height: 74px;
    position: absolute;
    margin-left: -8%;
    margin-top: -9px;
  }

  #quote .quote-content{
    margin-top: -99px;
    margin-left: 5%;
    width: 260px;
    height: 150px;
  }
  #quote .quote-content p{
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-align: justify;
    color: #787676;
  }

  #testimonial{
    margin-top: 270px;
  }

    #estates h3{
      font-weight: 600;
      font-size: 50px;
      line-height: 177%;
      text-align: justify;
      margin-top: 35%;
    }



  #products h5{
    text-align: center;
  }

  #stow .stow-content img{
    height: 355px;
    width: 275px;
  }

  #stow .stow-content{
    margin-top: 8%;
    padding-bottom: 10%;
  }
  #footer{
    background:  #16161D;
    height: 650px;
  }

}

@media (min-width:360px) {
  .hero-content{
    padding-top: 10%;
  }

  #about .img-second {
    height: 200px;
    width: 100%;
    border-radius: 10px;
  }
  .value{
    background-image: url("images/value.png");
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .value-overlay{
    background: rgba(4, 51, 146, 0.4);
    content: '';
    display: block;
    height: 550px;
  }
  #s-card .card{
    width: 325px;
    margin-left: 18px;
  }
  .quote{
    background-image: url("images/quote.png");
    height: 79px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  #quote .quote-img{
    width: 45px;
    height: 60px;
    position: absolute;
    margin-left: -12%;
    margin-top: -9px;
  }

  #quote .quote-content{
    margin-top: -74px;
    margin-left: 10%;
    width: 284px;
    height: 150px;
  }
  #quote .quote-content p{
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-align: justify;
    color: #787676;
  }
  #testimonial{
    margin-top: 222px;
  }
  #estates h3{
    font-weight: 600;
    font-size: 50px;
    line-height: 177%;
    text-align: justify;
    margin-top: 40%;
  }
  #products img{
    width: 100%;
    height: 230px;
  }

  #products h5{
    text-align: center;
  }

  #stow .stow-content img{
    height: 355px;
    width: 275px;
  }

  #stow .stow-content{
    margin-top: 8%;
    padding-bottom: 10%;
  }
}

@media (min-width:411px){

  .hero-content{
    padding-top: 10%;
  }

  #about .img-second {
    height: 250px;
    width: 100%;
  }
  #s-card .card{
    width: 352px;
    margin-left: 30px;
  }
  .value{
    background-image: url("images/value.png");
    height: 495px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .value-overlay{
    background: rgba(4, 51, 146, 0.4);
    content: '';
    display: block;
    height: 495px;
  }

  .quote{
    background-image: url("images/quote.png");
    height: 97px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  #quote .quote-img{
    width: 45px;
    height: 60px;
    position: absolute;
    margin-left: -10%;
    margin-top: -9px;
  }

  #quote .quote-content{
    margin-top: -74px;
    margin-left: 9%;
    width: 310px;
    height: 150px;
  }
  #quote .quote-content p{
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-align: justify;
    color: #787676;
  }
  #testimonial{
    margin-top: 210px;
  }
  #estates h3{
    font-weight: 600;
    font-size: 50px;
    line-height: 177%;
    text-align: justify;
    margin-top: 35%;
  }

  #products img{
    width: 100%;
    height: 230px;
  }
  #products h5{
    text-align: center;
  }

  #stow .stow-content img{
    height: 355px;
    width: 370px;
  }

  #stow .stow-content{
    margin-top: 8%;
    padding-bottom: 10%;
  }
  #footer{
    background: #16161D;
    height: 650px;

  }


}

@media (min-width:575px) {


}

/* Medium devices (tablets) */
@media (min-width:768px) {
  .hero-content{
    padding-top: 10%;
  }

  #about .img-second {
    height: 350px;
    width: 100%;
    border-radius: 10px;
  }
  .value{
    background-image: url("images/value.png");
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .value-overlay{
    background: rgba(4, 51, 146, 0.4);
    content: '';
    display: block;
    height: 342px;
    margin-top: 8px;
  }
  #s-card .card{
    height: 360px;
    width: auto;
    margin-left: 0px;
  }

  .quote{
    background-image: url("images/quote.png");
    height: 165px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  #quote .quote-img{
    width: 72px;
    height: 60px;
    position: absolute;
    margin-left: -11%;
    margin-top: -20px;
  }

  #quote .quote-content{
    margin-top: 17px;
    margin-left: 13%;
    width: 552px;
    height: 150px;
  }
  #quote .quote-content p{
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-align: justify;
    color: #787676;
  }
  #testimonial{
    margin-top: 100px;
  }
  #estates h3{
      font-weight: 600;
      font-size: 90px;
      line-height: 177%;
      text-align: justify;
      margin-top: 10%;
    }


  #stow .stow-content img{
    height: 400px;
    width: 332px;

  }

  #stow .stow-content{
    margin-top: 8%;
    padding-bottom: 10%;
  }
  #footer{
    background: #16161D;
    height: 350px;

  }

}


/* Large devices (desktops) */
@media (min-width:992px) {

}

@media (min-width:1000px) {
  .hero-content{
    padding-top: 10%;
  }

  #about .img-second {
    height: 350px;
    width: 100%;
  }
  #about .about-content{
    margin-top: 0px;
  }
  .value{
    background-image: url("images/value.png");
    height: 335px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .value-overlay{
    background: rgba(4, 51, 146, 0.4);
    content: '';
    display: block;
    height: 335px;
    margin-top: 0px;

  }

  #value .value-content{
    margin-left: 50px;
    margin-right: 50px;
  }
  #s-card .card{
    height: 340px;
    width: auto;
    margin-left: 0px;
  }
  .quote{
    background-image: url("images/quote.png");
    height: 210px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  #quote .quote-img{
    width: 98px;
    height: 79px;
    position: absolute;
    margin-left: -11%;
    margin-top: -30px;
  }

  #quote .quote-content{
    margin-top: 17px;
    margin-left:25%;
    width: 581px;
    height: 150px;
  }
  #quote .quote-content p{
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-align: justify;
    color: #787676;
  }
  #testimonial{
    margin-top: 50px;
  }
  #estates h3{
    font-weight: 600;
    font-size: 90px;
    line-height: 177%;
    text-align: justify;
    margin-top: 10%;
  }

  #stow .stow-content img{
    height: 400px;
    width: 332px;

  }
  #stow .stow-content{
    margin-top: 8%;
    padding-bottom: 2%;
  }
  #footer{
    background: #16161D;
    height: 350px;
  }
}

/* Extra large devices (large desktops) */
@media (min-width:1200px) {
  .hero-content{
    padding-top: 23%;
  }

  #about .img-second {
    width: 100%;
    height: 350px;
  }
  #about .about-content{
    margin-top: 52px;
  }
  .value{
    background-image: url("images/value.png");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .value-overlay{
    background: rgba(4, 51, 146, 0.4);
    content: '';
    display: block;
    height: 300px;

  }

  #value .value-content{
    margin-left: 50px;
    margin-right: 50px;
  }

  #s-card .card{
    width: 352px;
    height: 320px;
    margin-left: 10px;
  }
  .quote{
    background-image: url("images/quote.png");
    height: 267px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  #quote .quote-img{
    width: 96px;
    height: 79px;
    position: absolute;
    margin-left: -9%;
    margin-top: -30px;
  }

  #quote .quote-content{
    margin-top: 17px;
    margin-left:25%;
    width: 581px;
    height: 150px;
  }
  #quote .quote-content p{
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-align: justify;
    color: #787676;
  }

  #testimonial{
    background: rgba(4, 51, 146, 0.7);
    margin-top: 50px;
  }
  #estates h3{
    font-weight: 600;
    font-size: 96px;
    line-height: 177%;
    text-align: justify;
    margin-top: 10%;
  }

  #footer{
    background:  #16161D;
    height: 330px;
  }


  #stow .stow-content img{
    height: 330px;
    width: 407px;
}

#stow .stow-content{
  margin-top: 8%;
  padding-bottom: 10%;
}
}

@font-face {
  font-family: 'Rubik';
  src: url(fonts/Rubik.ttf);
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Rubik', 'Helvetica', sans-serif;
}
 p{
font-size: 16px;
}
#hero{
  background-image: url("images/hero-bg.png");
  height: 565px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#hero .hero-overlay{
  background: rgba(22, 22, 29, 0.6);
  content: '';
  display: block;
  width: 100%;
  height: 565px;
  position: absolute;
}

#hero h2{
  color: #fff;
}
#hero .btn{
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

#hero p{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 144.18%;
}
#about,
#value,
#s-card,
#quote{
  padding-top: 80px;
  padding-bottom: 30px;
}
#about h2,
#products h2{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 37px;
  color:  #787676;
  font-weight: bold;
}
#about p{
  text-align: justify;
  color: #333333;
}
#about hr{
  width: 167px;
  height: 3px;
  background: #787676;
  margin-left: 0%;
}
#about .btn{
  color: #333333;
  margin-top: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  padding: 0px;
}


#value h2,
#testimonial h2{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 37px;
  color:  #fff;
  font-weight: bold;
}
#value hr{
  width: 242px;
  height: 3px;
  background-color: #fff;
  margin-left: 0px;
}
#value .btn{
  color: #333333;
  margin-top: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  padding: 0px;
}
#value p{
  text-align: justify;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

}

/* Client Satisfaction Card */
#s-card img{
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-top: 28px;
}

#s-card .card-title{
  font-weight: bold;
  font-size: 26px;
  line-height: 168.6%;
  text-align: justify;
  color: #000000;
}
#s-card .card-text{
  font-size: 16px;
  text-align: justify;
  color: #333333;
}

#s-card .card{
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(120, 118, 118, 0.25);
  border-radius: 5px;
  border: 1px;
}

/* ---------------------------------- */


/* Quote */
  .c-quote{
    padding-top: 20px;
  }


/* ---------------------------------- */


/* Testimonial */

#testimonial{
  background: rgba(4, 51, 146, 0.7);
  padding-bottom: 100px;
}

#testimonial hr{
  width: 193px;
  height: 5px;
  background-color: #fff;
  margin-left: 0px;
}

#testimonial p{
  color: #333333;
  line-height: 34px;
  text-align: justify;
  font-style: normal;
  font-weight: normal;
}

#testimonial h4{
  color: rgba(4, 51, 146, 0.7);
}

/* ---------------------------------- */
#stow p{
  text-align: justify;
  font-weight: 600;
  font-size: 16px;
  line-height: 177%;
}
#stow hr{
  width: 40%;
  height: 3px;
  background: linear-gradient(45deg, black, transparent);
  margin-left: 0%;
}


#footer .fa{
  font-size: 24px;
}

#footer hr{
  width: 40%;
  height: 3px;
  background: #fff;
  margin-left: 0%;
}

#footer .btn-default{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: #787676;
  width: 90%;
}
#footer ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#fff;
}
#footer {
  font-size: 14px;
}
#footer .form-control{
  background: transparent;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  width: 90%;
  color: #fff;
}

/* END OF HOMEPAGE STYLE */


/* OUR PRODUCT/ESTATE*/
#estates{
  background-image: url("images/estate-bg.png");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 #estates .estate-overlay{
     background: rgba(22, 22, 29, 0.3);
     content: '';
     display: block;
     width: 100%;
     height: 500px;
     position: absolute;
 }

.navbar-nav .nav-link:hover{
    color:  #043392 !important;
}

/* GALERY PAGE */
#gallery-header{
  background-image: url("images/gallery.png");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay{
  background: rgba(73, 47, 134, 0.3);
  content: '';
  display: block;
  height: 500px;
  position: absolute;
  width: 100%;
}

#gallery-header h3{
  font-weight: 600;
  font-size: 70px;
  line-height: 177%;
  margin-top: 15%;
}

#gallery{
  padding-top:50px;
  padding-bottom: 50px;
}


.smart-gallery:hover img{
  -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.smart-gallery img{
  width: 45%;
  height: 230px;
  margin: 0%;
  padding: 0%;
}
