/*
  Project: Wara Garri
  Author: Trap Introvert
  github: https://github.com/Trapintrovert

 */

 /* HOME PAGE STYLE */

@media (min-width:320px) {
  .hero-content{
    padding-top: 10%;
  }
  #about{
    padding-top: 22%;
  }
  #about .img-second {
    height: 350px;
    width: 280px;
    margin-top: -7%;
  }

    #about .order-1{
      order: 2;
    }
    #about .order-2{
      order: 1;
    }
    #estates h3{
      font-weight: 600;
      font-size: 50px;
      line-height: 177%;
      text-align: justify;
      margin-top: 35%;
    }
  #value .value-img-right{

    height: 306px;
    width: 290px;
  }
  #value .order-1{
    order: 2;
  }
  #value .order-2{
    order: 1;
  }
  #products img{
    width: 100%;
  }

  #products h5{
    text-align: center;
  }
  #stow{
    background-image: url("images/stow-hero.png");
    height: 1745px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #stow .stow-content img{
    height: 355px;
    width: 275px;
  }
  #stow .stow-overlay{
    background: rgba(22, 22, 29, 0.6);
    content: '';
    display: block;
    width: 100%;
    height: 1745px;
    position: absolute;
  }
  #stow .stow-content{
    margin-top: 8%;
    padding-bottom: 10%;
  }
  #footer{
    background-image: url("images/footer.png");
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #footer .footer-overlay{
    background: rgba(22, 22, 29, 0.6);
    content: '';
    display: block;
    width: 100%;
    height: 650px;
    position: absolute;
  }
}

@media (min-width:360px) {
  .hero-content{
    padding-top: 10%;
  }
  #about{
    padding-top: 42%;
  }

    #about .order-1{
      order: 2;
    }
    #about .order-2{
      order: 1;
    }
  #about .img-second {
    height: 350px;
    width: 313px;
    margin-top: -7%;
  }
  #value .value-img-right{
    height: 306px;
    width: 326px;
  }
  #value .order-1{
    order: 2;
  }
  #value .order-2{
    order: 1;
  }
  #estates h3{
    font-weight: 600;
    font-size: 50px;
    line-height: 177%;
    text-align: justify;
    margin-top: 40%;
  }
  #products img{
    width: 100%;
  }

  #products h5{
    text-align: center;
  }
  #stow{
    background-image: url("images/stow-hero.png");
    height: 1575px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #stow .stow-content img{
    height: 355px;
    width: 275px;
  }
  #stow .stow-overlay{
    background: rgba(22, 22, 29, 0.6);
    content: '';
    display: block;
    width: 100%;
    height: 1575px;
    position: absolute;
  }
  #stow .stow-content{
    margin-top: 8%;
    padding-bottom: 10%;
  }
}

@media (min-width:411px){
  .hero-content{
    padding-top: 10%;
  }
  #about{
    padding-top: 42%;
  }
  #about .img-first {
    position: absolute;
    margin-top: 10%;
    height:200px;
  }
  #about .img-second {
    height: 350px;
    margin-top: -7%;
    width: 339px;
  }

  #about .order-1{
    order: 2;
  }
  #about .order-2{
    order: 1;
  }
  #estates h3{
    font-weight: 600;
    font-size: 50px;
    line-height: 177%;
    text-align: justify;
    margin-top: 35%;
  }
  #value .value-img-right{
    height: 306px;
    width: 360px;
  }
  #value .order-1{
    order: 2;
  }
  #value .order-2{
    order: 1;
  }
  #products img{
    width: 100%;
  }

  #products h5{
    text-align: center;
  }
  #stow{
    background-image: url("images/stow-hero.png");
    height: 1459px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #stow .stow-content img{
    height: 355px;
    width: 370px;
  }
  #stow .stow-overlay{
    background: rgba(22, 22, 29, 0.6);
    content: '';
    display: block;
    width: 100%;
    height: 1459px;
    position: absolute;
  }
  #stow .stow-content{
    margin-top: 8%;
    padding-bottom: 10%;
  }
  #footer{
    background-image: url("images/footer.png");
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #footer .footer-overlay{
    background: rgba(22, 22, 29, 0.6);
    content: '';
    display: block;
    width: 100%;
    height: 650px;
    position: absolute;
  }

}

@media (min-width:575px) {


}

/* Medium devices (tablets) */
@media (min-width:768px) {
  .hero-content{
    padding-top: 10%;
  }
  #about{
    padding-top: 10%;
  }

  #about .order-1{
    order: 2;
  }
  #about .order-2{
    order: 1;
  }
  #about .img-second {
    height: 350px;
    margin-top: 40%;
    width: 339px;
  }
  #about .about-content{
    margin-left: 8%;
  }
  #about .order-1{
    order: 1;
  }
  #about .order-2{
    order: 2;
  }
  #value .value-img-right{
    height: 306px;
    width: 275px; /*447px;*/
  }

  #estates h3{
      font-weight: 600;
      font-size: 90px;
      line-height: 177%;
      text-align: justify;
      margin-top: 10%;
    }
  #stow{
    background-image: url("images/stow-hero.png");
    height: 1170px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #stow .stow-content img{
    height: 500px;
    width: 332px;

  }
  #stow .stow-overlay{
    background: rgba(22, 22, 29, 0.6);
    content: '';
    display: block;
    width: 100%;
    height: 1170px;
    position: absolute;
  }
  #stow .stow-content{
    margin-top: 8%;
    padding-bottom: 10%;
  }
  #footer{
    background-image: url("images/footer.png");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #footer .footer-overlay{
    background: rgba(22, 22, 29, 0.6);
    content: '';
    display: block;
    width: 100%;
    height: 350px;
    position: absolute;
  }
}


/* Large devices (desktops) */
@media (min-width:992px) {

}

@media (min-width:1000px) {
  .hero-content{
    padding-top: 10%;
  }
  #about{
    padding-top: 10%;
  }
  #about .img-first {
    position: absolute;
    margin-top: 10%;
    height:200px;
  }
  #about .img-second {
    height: 381px;
    margin-top: 16%;
    width: 455px;
  }
  #about .about-content{
    margin-top: 0px;
  }

  #about .order-1{
    order: 1;
  }
  #about .order-2{
    order: 2;
  }
  #value .value-img-right{

    height: 306px;
    width: 447px;
  }
  #estates h3{
    font-weight: 600;
    font-size: 90px;
    line-height: 177%;
    text-align: justify;
    margin-top: 10%;
  }
  #stow{
    background-image: url("images/stow-hero.png");
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #stow .stow-content img{
    height: 500px;
    width: 332px;

  }
  #stow .stow-overlay{
    background: rgba(22, 22, 29, 0.6);
    content: '';
    display: block;
    width: 100%;
    height: 1000px;
    position: absolute;
  }
  #stow .stow-content{
    margin-top: 8%;
    padding-bottom: 10%;
  }
  #footer{
    background-image: url("images/footer.png");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #footer .footer-overlay{
    background: rgba(22, 22, 29, 0.6);
    content: '';
    display: block;
    width: 100%;
    height: 350px;
    position: absolute;
  }
}

/* Extra large devices (large desktops) */
@media (min-width:1200px) {
  .hero-content{
    padding-top: 23%;
  }
  #about{
    padding-top: 2%;
  }

  #about .img-second {
    width: 447px;
    height: 460px;
    margin-top: 13%;
  }
  #about .about-content{
    margin-top: 80px;
  }

  #about .order-1{
    order: 1;
  }
  #about .order-2{
    order: 2;
  }
  #value .value-img-right{
    width: 447px;
    height: 460px;
  }
  #estates h3{
    font-weight: 600;
    font-size: 96px;
    line-height: 177%;
    text-align: justify;
    margin-top: 10%;
  }

  #footer{
    background-image: url("images/footer.png");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #footer .footer-overlay{
    background: rgba(22, 22, 29, 0.6);
    content: '';
    display: block;
    width: 100%;
    height: 350px;
    position: absolute;
  }

  #stow{
    background-image: url("images/stow-hero.png");
    height: 915px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #stow .stow-content img{
    height: 500px;
    width: 450px;

  }
  #stow .stow-overlay{
    background: rgba(22, 22, 29, 0.6);
    content: '';
    display: block;
    width: 100%;
    height: 915px;
    position: absolute;
  }
  #stow .stow-content{
    margin-top: 8%;
    padding-bottom: 10%;
  }
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat.otf);
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Montserrat', sans-serif;
}

#hero{
  background-image: url("images/hero-bg.png");
  height: 565px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero .nav-link:hover{
  color:  #043392;
  background-color: #043392;
  border-bottom: 5px;
  border-color:  #043392;
}

#hero .hero-overlay{
  background: rgba(22, 22, 29, 0.6);
  content: '';
  display: block;
  width: 100%;
  height: 565px;
  position: absolute;
}

#hero h2{
  color: #fff;
}
#hero .btn{
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

#hero p{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 144.18%;
}

#about h2,
#value h2,
#products h2{
  text-transform: uppercase;
  font-size: 36px;
  line-height: 49px;
  color:  #787676;
}
#about p,
#value p{
  text-align: justify;
  color: #333333;
}
#about hr,
#value hr{
  width: 40%;
  height: 3px;
  background: #787676;
  margin-left: 0%;
}
#about .btn,
#value .btn{
  color: #333333;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}
#value{
  padding-top: 10%;
    padding-bottom: 10%;
}


#stow p{
  text-align: justify;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 177%;
}
#stow hr{
  width: 40%;
  height: 3px;
  background: #fff;
  margin-left: 0%;
}


#footer .fa{
  font-size: 24px;
}

#footer hr{
  width: 40%;
  height: 3px;
  background: #fff;
  margin-left: 0%;
}

#footer .btn-default{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: #787676;
}
#footer ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#fff;
}
#footer .form-control{
  background: transparent;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
}

/* END OF HOMEPAGE STYLE */


/* OUR PRODUCT/ESTATE*/
#estates{
  background-image: url("images/estate-bg.png");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 #estates .estate-overlay{
     background: rgba(22, 22, 29, 0.3);
     content: '';
     display: block;
     width: 100%;
     height: 500px;
     position: absolute;
 }



/* STOW */
